In [65]:
import pandas as pd
data= pd.read_csv('ouma-covid-data-old.csv')
print(data)
df.columns

       iso_code continent     location        date  total_cases  new_cases  \
0           AFG      Asia  Afghanistan  2020-02-24          5.0        5.0
1           AFG      Asia  Afghanistan  2020-02-25          5.0        0.0
2           AFG      Asia  Afghanistan  2020-02-26          5.0        0.0
3           AFG      Asia  Afghanistan  2020-02-27          5.0        0.0
4           AFG      Asia  Afghanistan  2020-02-28          5.0        0.0
...         ...       ...          ...         ...          ...        ...
262418      ZWE    Africa     Zimbabwe  2023-03-03     264127.0        NaN
262419      ZWE    Africa     Zimbabwe  2023-03-04     264127.0        NaN
262420      ZWE    Africa     Zimbabwe  2023-03-05     264127.0        NaN
262421      ZWE    Africa     Zimbabwe  2023-03-06     264127.0        NaN
262422      ZWE    Africa     Zimbabwe  2023-03-07     264127.0        NaN

        new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  \
0                      NaN           NaN         NaN                  NaN
1                      NaN           NaN         NaN                  NaN
2                      NaN           NaN         NaN                  NaN
3                      NaN           NaN         NaN                  NaN
4                      NaN           NaN         NaN                  NaN
...                    ...           ...         ...                  ...
262418                 NaN        5668.0         0.0                0.714
262419                 NaN        5668.0         0.0                0.714
262420                 NaN        5668.0         0.0                0.714
262421                 NaN        5668.0         0.0                0.714
262422                 NaN        5668.0         0.0                0.714

        ...  male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
0       ...           NaN                  37.746                         0.5
1       ...           NaN                  37.746                         0.5
2       ...           NaN                  37.746                         0.5
3       ...           NaN                  37.746                         0.5
4       ...           NaN                  37.746                         0.5
...     ...           ...                     ...                         ...
262418  ...          30.7                  36.791                         1.7
262419  ...          30.7                  36.791                         1.7
262420  ...          30.7                  36.791                         1.7
262421  ...          30.7                  36.791                         1.7
262422  ...          30.7                  36.791                         1.7

        life_expectancy  human_development_index  population  \
0                 64.83                    0.511  41128772.0
1                 64.83                    0.511  41128772.0
2                 64.83                    0.511  41128772.0
3                 64.83                    0.511  41128772.0
4                 64.83                    0.511  41128772.0
...                 ...                      ...         ...
262418            61.49                    0.571  16320539.0
262419            61.49                    0.571  16320539.0
262420            61.49                    0.571  16320539.0
262421            61.49                    0.571  16320539.0
262422            61.49                    0.571  16320539.0

        excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
0                                        NaN                          NaN
1                                        NaN                          NaN
2                                        NaN                          NaN
3                                        NaN                          NaN
4                                        NaN                          NaN
...                                      ...                          ...
262418                                   NaN                          NaN
262419                                   NaN                          NaN
262420                                   NaN                          NaN
262421                                   NaN                          NaN
262422                                   NaN                          NaN

        excess_mortality  excess_mortality_cumulative_per_million
0                    NaN                                      NaN
1                    NaN                                      NaN
2                    NaN                                      NaN
3                    NaN                                      NaN
4                    NaN                                      NaN
...                  ...                                      ...
262418               NaN                                      NaN
262419               NaN                                      NaN
262420               NaN                                      NaN
262421               NaN                                      NaN
262422               NaN                                      NaN

[262423 rows x 67 columns]

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million',
       'death_rate'],
      dtype='object')

In [69]:
#Preview rows
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,death_rate
0,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,NaN,0.0,0.0,NaN,...,37.75,0.5,64.83,0.51,41128772,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,NaN,0.0,0.0,NaN,...,37.75,0.5,64.83,0.51,41128772,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,NaN,0.0,0.0,NaN,...,37.75,0.5,64.83,0.51,41128772,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,0.0,0.0,NaN,0.0,0.0,NaN,...,37.75,0.5,64.83,0.51,41128772,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,0.0,0.0,NaN,0.0,0.0,NaN,...,37.75,0.5,64.83,0.51,41128772,NaN,NaN,NaN,NaN,NaN

In [68]:
df.isnull().sum() #Identify missing values

iso_code                                        0
continent                                   26525
location                                        0
date                                            0
total_cases                                     0
                                            ...
excess_mortality_cumulative_absolute       416024
excess_mortality_cumulative                416024
excess_mortality                           416024
excess_mortality_cumulative_per_million    416024
death_rate                                  29283
Length: 68, dtype: int64

In [75]:
# Convert date column to datetime
df['date'] = pd.to_datetime(df['date'])

# Select countries of interest
countries = ['Kenya', 'United States', 'India', 'United Kingdom']
df_filtered = df[df['location'].isin(countries)]

# Handle missing values for key columns
key_columns = ['total_cases', 'new_cases', 'total_deaths', 'new_deaths', 'total_vaccinations']
df_filtered = df_filtered.copy()
df_filtered[key_columns] = df_filtered[key_columns].fillna(0)

# Get the latest data
latest_date = df_filtered['date'].max()
df_latest = df_filtered[df_filtered['date'] == latest_date]

In [73]:
# Check if missing values were handled
print(df_filtered[key_columns].isnull().sum())

# Check data types
print(df_filtered.dtypes)

total_cases           0
new_cases             0
total_deaths          0
new_deaths            0
total_vaccinations    0
dtype: int64
iso_code                                           object
continent                                          object
location                                           object
date                                       datetime64[ns]
total_cases                                       float64
                                                ...
excess_mortality_cumulative_absolute              float64
excess_mortality_cumulative                       float64
excess_mortality                                  float64
excess_mortality_cumulative_per_million           float64
death_rate                                        float64
Length: 68, dtype: object

In [78]:
# Save the cleaned DataFrame to a CSV file
df_filtered.to_csv('cleaned_covid_data.csv', index=False)